<!DOCTYPE html>
<html lang="en">

<head>
    <title>rctes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6/dist/ext/ws.js"></script>
    <script defer src="/assets/scripts.js"></script>
</head>

<body>
    <header>
        <h1>Hello</h1>
        <span>{{ name }}</span>
    </header>
    <br />
    <div hx-ext="ws" ws-connect="/counter">
        <span id="counter">0</span>
    </div>
    <button hx-post="/clicked" hx-swap="outerHTML">
        Click Me
    </button>
    <br />
    <br />
    <form hx-post="/location">
        <fieldset>
            <label for="name">Name</label>
            <input type="text" name="name" />
            <label for="population">Population</label>
            <input type="number" name="population" />
            <button type="submit">Submit</button>
        </fieldset>
    </form>
    <br />
    <a href="/location">Location</a>
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>population</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr>
                <td>{{ location.name }}</td>
                <td>{{ location.population }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
