<!DOCTYPE html>
<html lang="en">

<head>
    <title>rctes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script defer src="/assets/scripts.js"></script>
</head>

<body>
    <div>
        <div>
            <div>
                <h1>Test</h1>
                <p>{{ name }}</p>
            </div>
        </div>
        <form hx-post="/location">
            <input type="text" name="name" />
            <input type="number" name="population" />
            <button type="submit">Submit</button>
        </form>
        <button hx-post="/clicked" hx-swap="outerHTML">
            Click Me
        </button>
        <br />
        <br />
        <a href="/location">Location</a>
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>population</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                <tr>
                    <td>{{ location.name }}</td>
                    <td>{{ location.population }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
